server:
  port: 8080
  servlet:
    context-path: /api

spring:
  application:
    name: parking-management
  datasource:
    url: jdbc:mysql://localhost:3307/parking_management
    username: root
    password: Long@12082004
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect    
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: "http://localhost:8080/api/auth"
          secret-key: "G18XeUdtfVcoB+Ukcga417kzaaAX5DM4rCuuP7nJUlDQmSKJEZtw/vSH7c3PXn6W"
          valid-duration: 36000 #second

